/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-spoiler-alert-spoiler-alert {
  .align {
	&-none {
	  text-align: inherit;
	}
	&-left {
	  text-align: left;
	}

	&-right {
	  text-align: right;
	}

	&-center {
	  text-align: center;
	}
  }

  .header {
	color: inherit;
	margin-bottom: 0.25em;

	.instructions {
	  font-size: 0.75em;
	  font-style: italic;
	  padding-left: 0.25em;
	}
  }

  .content {
	color: transparent;
	text-shadow: 0 0 7px rgba(0,0,0,1);

	&:hover,
	&:focus,
	&:active {
	  text-shadow: none;
	  color: inherit;
	}
  }
}
